* {
    padding: 0;
    margin:0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Open Sans", sans-serif;
    color: rgb(0, 0, 0);

}

body {
    background-color: #c5daf4;
    font-size: 18px;
    
}

.logo img {
    width: 50px; /* Adjust as needed */
    height: auto; /* Maintains aspect ratio */
}

header {
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;  
    padding: 20px 8%;
    display: flex;
    align-items: center; /* Ensures vertical alignment */
    justify-content: space-between; /* Distributes space between elements */
    transition: all 0.50s ease;
    /* background-image: url("images/coolbackgrounds-main.png");
    background-size: cover;
    background-repeat: no-repeat; */
}

.logo {
    display: flex;
    align-items: center;
    color:black;
    font-size: 28px;
    font-weight: 700;
}

.nav-list {
    display: flex;
}

.nav-list a {
    display: inline-block;
    margin: 0 35px;
    color:black;
    font-size: 16px;
    font-weight: 600;
    transition: all .50s ease;
}

.nav-list a:hover {
    transform: scale(1.1); /* Makes the link slightly bigger */
    color: #fff; /* Optional: Change color on hover */
    transition: transform 0.3s ease, color 0.3s ease; /* Smooth transition */
}

.nav-right {
    display: flex; /* Ensures .nav-right and #menu-icon are in a single line */
    align-items: center; /* Aligns items vertically */
}

.nav-right a {
    background-color: white;
    padding: 7px 20px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
}

.nav-right a:hover {
    background-color: #4a4e69;
    color: white;
    transition: all .50s ease;
}

#menu-icon {
    display: none;
    margin-right: 150px; /* Adds spacing between .nav-right a and #menu-icon */
    font-size: 30px;
    color: white;
    cursor: pointer;
}

.main-content {
    padding:180px;
    text-align: center;
    color:#fff;
    font-weight: 300;
    /* background-image: url("images/coolbackgrounds-main.png");
    background-size: cover;
    background-position: center; Centers the image
    background-repeat: no-repeat; */
}

.main-content h2 {  
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 20px;
}

.intro-section {
    padding: 180px;
    text-align: left;
    font-weight: 300;
    background-image: url("images/coolbackgrounds-intro3.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.why-calisthenics {
    padding: 180px;
    text-align: left;
    color:#fff;
    font-weight: 300;
    background-image: url("images/coolbackgrounds-intro2.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.mindset {
    padding: 180px;
    text-align: left;
    color:#fff;
    font-weight: 300;
    text-align: right;
    background-image: url("images/coolbackgrounds-intro.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.footer {
    padding: 180px;
    color: #fff;
    font-weight: 300;
    font-size: 1.1rem;
    text-align: center;
    background-image: url("images/coolbackgrounds-intro4.png");
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
}

@media (max-width:700px) {
    body {
        font-size: 15px;
    }

    header {
        padding: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-around; /* Stack elements vertically */
    }

    .logo {
        font-size: 20px;
    }
    .nav-list a{
        margin: 0 5px;
        font-size: 10px;
        display: none;
    }

    #menu-icon {
        display: flex;
        flex-direction: row; 
        margin-right: 0px;/* Show the menu icon on smaller screens */
    }

    .main-content{
        padding:130px 30px ;
    }

    .intro-section{
        padding:50px 50px ;
        background-repeat: no-repeat;
        background-position:center;
    }

    .why-calisthenics{
        padding:50px 50px ;
        background-repeat: no-repeat;
        background-position:center;
    }

    .mindset{
        padding:50px 50px ;
        background-repeat: no-repeat;
        background-position:center;
    }

    .footer {
        padding:50px 50px ;
        background-repeat: no-repeat;
        background-position:center;
    }
}

@media (min-width:700px) and (max-width:1200px){
    header {
        display: flex;
        justify-content: space-between;
        padding: 10px 10px;
    }

    .logo {
        font-size: 20px;
    }
    body {
        font-size: 18px;
    }
    
    .nav-list {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav-list a {
        margin: 0 20px;
        font-size: 16px;
    }

    .intro-section {
        padding: 50px 50px;
        background-repeat: no-repeat;
        background-position: center;
    }
    .why-calisthenics {
        padding: 100px 50px;
        background-repeat: no-repeat;
        background-position: center;
    }  
    .mindset {
        padding: 100px 50px;
        background-repeat: no-repeat;
        background-position: center;
    }   

    .footer {
        padding: 50px 50px;
        background-repeat: no-repeat;
        background-position: center;
    }

}